* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #DDE2FF;
}

h3 {
  width: 280px;
  height: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000;

}

button {
  width: 70px;
  height: 28px;

  border-radius: 5px;

  background: #376275;
  margin: 5px;

  text-align: center; /* centraliza o texto */
  font-family:bold; /* fonte */
  font-size: 16px;  /* tamanho da fonte */
  color: white; /* cor fonte */ 
}

.aresta{
  width: 46px;
  height: 28px;
  margin: 3px;
  border-radius: 5px;
  border: 2px solid;
  box-sizing: border-box;
  
  background-color: white;
}

input {
  width: 125px;
  height: 28px;

  background-color: white;
  margin: 3px;
  border-radius: 5px;
  border: 2px solid;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #BFC9FF;
  margin: 50px;
}

.inputForm {
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  align-items: center;

  background: #DDE2FF;
}

.inputSearch{
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  align-items: center;

  background: #DDE2FF;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.graphView {
  width: 918px;
  height: 670px;
  border-style: solid;
  border-width: 1;
  background-color: #000;
  overflow: hidden;
}

.upperGraphButtons {
  display: flex;
  justify-content: row;
}

.renderGraphButton {
  width: 80px;
  height: 40px;
  display: flex;
}